@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br/>
    <p><b>Kubernetes Examples</b></p>
    <br/>
    <br/>
    <p>for source code of <a target="_blank" href="https://github.com/koseburak/dotnet-core-mvc">this project</a>.</p>
    <p>for installattion of <a target="_blank" href="https://github.com/koseburak/kubernetes/tree/master/01-kubernetes-install">Kubernetes</a>.</p>
    <p>for installation of <a target="_blank" href="https://github.com/koseburak/kubernetes/tree/master/02-kubernetes-dashboard">Kubernetes Dashboard</a>.</p>
</div>
